{% extends "base.html" %}

{% block head_title %}
{{ super() }}: crear movimiento
{% endblock %}


{% block page_title %}
Agregar movimiento
{% endblock %}


{% block contenido %}
{{super()}}

<!--
    CRUD:Create, Read, Update, Delete
    GET: read
    POST: create, delete
    PUT: update
-->
<form action="/nuevo" method="post"></form>
    <div class="campo-formulario">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" name="">
    </div>
    <div class="campo-formulario">
        <label for="hora">Hora</label>
        <input type="time" id="hora" name="">
    </div>
{% endblock %}